#foreach( $task in $tasks )
process ${task.name} {
	
	
	output:
    #if ( $task.outputs.isStdout() )
	stdout
    #end
    
 
	script:
		"""
		${task.command}
		"""
 }
#end
 
 workflow ${workflow.name} {
 
 #foreach( $task in $taskCalls )
 	${task.name}()	
 #end
 }